.parent {
    border: 1px solid #cacbcd;
    border-radius: .28571429rem;
    width: 93%;
    margin: auto;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-border-radius: .28571429rem;
    -moz-border-radius: .28571429rem;
    -ms-border-radius: .28571429rem;
    -o-border-radius: .28571429rem;
}

label {
    text-align: start;
}

th{
    padding: 20px;
    border-collapse: collapse;
}

table{
    max-width: 100%;
    font-size: 15px;
}
body{
    margin: 50px 50px 50px 50px;
}
h2{
    text-align: center;
}
#checkboxContent{
    font-size: 20px;
}
thead{
    background-color: #26a69a;
    color: white;
}
.color{
    color: #26a69a;
}

